@font-face {
    font-family: general sans;
    src: url(./GeneralSans-Regular.woff);
}

@font-face {
    font-family: general sans M;
    src: url(./GeneralSans-Medium.woff);
}

@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-VariableFont_wght.woff);
}

* {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: rgb(17, 17, 17);
    padding-bottom: 0;
    font-family: 'general sans';
    color: black;
}


.cursor {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    transition: 0.1s;
    /* border: 3px solid rgb(255, 255, 255); */
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: .7;
    pointer-events: none;
}

/* line animation start from here */
#lineanimationw {
    position: relative;
    overflow: hidden;
}

#lineanimationw::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.7px;
    /* Adjust the height of the line */
    background-color: #b4b4b4;
    /* Adjust the color of the line */
    transition: width 0.2s ease-in-out;
    /* Adjust the duration and timing function */
}

#lineanimationw:hover::before {
    width: 100%;
}


.main {
    background-color: rgb(17, 17, 17);
    width: 100%;

}

.showcase {
    position: relative;
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    padding: 30px 27px;
    font-size: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-size: 3vw;
    opacity: .8;
    font-weight: 600;
}

.nav h4 {
    position: relative;
    display: inline-block;
}

/* Define the transition for the line */
.nav h4::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

/* Add hover effect for the line */
.nav h4:hover::before {
    width: 100%;
}

.bounding {
    /* background-color: aquamarine; */
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(110%);
}

.bounding2 {
    /* background-color: aquamarine; */
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.bounding2 .boundingelem2 {
    transform: translateY(-110%);
}

.headings {
    font-family: 'general sans M';
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 70px;
    font-weight: 100;
    font-size: 5.5vw;
    line-height: .9;

}

.bounding:nth-child(1) {
    display: flex;
    gap: 1vw;
    
}

.bounding {
    display: flex;

}

.bound h1 {
    width: fit-content;
    display: flex;
    color: rgb(166, 43, 43);
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headings .bounding:nth-child(2) .o {
    display: flex;
    opacity: 1;
    width: 7vw;
    height: 7vw;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgb(213, 149, 149);

}

.headings h1 {
    color:rgb(213, 149, 149);

    opacity: .7;
}

.showcase .name {
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(44, 44, 44); */
    padding: 1vw 2vw;
    padding-left: 3vw;
    margin-top: 16vw;
}

.showcase .name h1 {
    transition: all ease-in 3.5s;
    animation-delay: .3s;
    font-size: 12vw;
    font-weight: 100;
    color: rgb(184, 184, 184);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(219, 219, 219);


}







.secCase {
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;


}

.secCase .l {
    background-color: rgb(44, 44, 44);
    border-right: 1px solid gray;
    padding: 3vw 1vw;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    /* background-color: rgb(168, 221, 203); */

}

.secCase .l img {
    background-color: rgb(44, 44, 44);
    opacity: .9;
    width: 100%;
    height: 100%;
    border-radius: 15px;


}

.secCase .m {
    background-color: rgb(44, 44, 44);
    border-radius: 10vw;
    padding: 3vw 1vw;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    /* padding-left: 4vw; */
    /* background-color: rgb(168, 221, 203); */

}

.secCase .m img {
    background-color: rgb(44, 44, 44);
    opacity: .8;
    width: 100%;
    height: 100%;
    border-radius: 15px;


}

.secCase .r {
    background-color: rgb(44, 44, 44);
    border-left: 1px solid gray;
    padding: 3vw 1vw;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    /* padding-left: 1vw; */
    /* background-color: rgb(168, 221, 203); */
    padding-right: 2vw;

}

.secCase .r img {
    background-color: rgb(78, 97, 63);
    border-radius: 10vw;
    opacity: .9;
    width: 100%;
    height: 100%;
    border-radius: 15px;


}


.web {
    margin-top: -10%;
    width: 97%;
    height: 20vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6vw;
}

.web h1 {
    background-color: rgb(44, 44, 44);
    font-size: 10vw;
    color: rgb(206, 206, 206);
}

.third {
    width: 100%;
    height: 60vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;


}

.l1 {
    margin-top: 5vw;

    display: flex;
    align-items: center;
    width: fit-content;
    background-color: rgb(78, 97, 63);
    border-radius: 10vw;
    margin-bottom: 2vw;

}

.l1 h1:nth-child(1) {
    border-radius: 10vw;
    color: rgb(221, 221, 221);
    font-size: 6vw;
    padding-left: 9vw;
    padding-right: 5vw;
    text-align: center;

}

.l1 h1 {
    padding: 2vw 2vw;
    background-color: rgb(85, 82, 84);
    border-radius: 10vw;
    border-radius: 10vw;
    font-size: 5vw;
    padding-right: 5vw;
    text-align: center;

}

.l2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;


}

.l2 h1 {
    background-color: rgba(255, 255, 255, 0.514);
    padding: 3vw 3vw;

    font-size: 7vw;
    text-align: center;
    border-radius: 10vw;
    margin-right: 12vw;
    color: rgb(26, 26, 26);
    rotate: -20deg;
    margin-top: -6vw;

}

.four {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 100%;
    min-height: 120vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.four .img1 {
    opacity: 0.8;
    display: flex;
    /* flex-direction: column; */
    gap: 9vw;

}

.four .img1 img {
    width: 55%;
    height: 55%;
    border-radius: 10px;
    rotate: 16deg;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */

}

.four .img1 h4 {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 6.4vw;
    z-index: 999;
    background-color: transparent;
    margin-left: -8vw;
    color: white;
}

.four .img2 {
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5vw;

}

.four .img2 h4 {
    /* rotate: 16deg; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 5vw;
    z-index: 99;
    background-color: transparent;
    /* margin-left: 18vw; */
    color: rgb(255, 255, 255);
}

.four .img2 img {
    display: flex;
    width: 55%;
    height: 55%;
    border-radius: 10px;
    rotate: -16deg;

}

.last {
    position: absolute;
    overflow: hidden;
    bottom: 1%;
    width: 100%;
    max-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-transform: uppercase;
    color: rgb(231, 231, 231);
}

.last .home a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

}



.last .experience a {
    text-decoration: none;
    color: white;
}

.home {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;


}

.home h1 {
    font-size: 2vw;
    color: rgb(231, 231, 231);
    opacity: .8;


}

.last .home a:hover {
    opacity: .7;
    color: black;

}

.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 11px;
}

.last .experience a:hover {
    opacity: .7;
    color: rgb(145, 145, 145);

}

.experience h1 {
    font-size: 2vw;
    color: rgb(236, 236, 236);
    opacity: .8;

}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 2vw;

}

.contact a {
    text-decoration: none;
}

.contact h1 {
    font-size: 2vw;
    color: rgb(233, 233, 233);
    opacity: .8;
}

.last .contact a:hover {
    opacity: .7;
    color: black;

}







@media only screen and (min-width: 1290px) and (max-width: 1366px) {

    @font-face {
        font-family: general sans;
        src: url(./GeneralSans-Regular.woff);
    }

    @font-face {
        font-family: general sans M;
        src: url(./GeneralSans-Medium.woff);
    }

    @font-face {
        font-family: comfortaa;
        src: url(Comfortaa-VariableFont_wght.woff);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'general sans';
        color: black;
    }


    .cursor {
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(245, 245, 245);
        box-sizing: border-box;
        transition: 0.1s;
        /* border: 3px solid rgb(255, 255, 255); */
        transform: translate(-50%, -50%);
        z-index: 99999;
        opacity: .7;
        pointer-events: none;
    }

    /* line animation start from here */
    #lineanimationw {
        position: relative;
        overflow: hidden;
    }

    #lineanimationw::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1.7px;
        /* Adjust the height of the line */
        background-color: #b4b4b4;
        /* Adjust the color of the line */
        transition: width 0.2s ease-in-out;
        /* Adjust the duration and timing function */
    }

    #lineanimationw:hover::before {
        width: 100%;
    }


    .main {
        background-color: rgb(17, 17, 17);
        width: 100%;
        overflow: hidden;

    }

    .showcase {
        position: relative;
        margin: 0;
        max-width: 100%;
        min-height: 100vh;
        background-color: rgb(17, 17, 17);
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav {
        padding: 30px 27px;
        font-size: 20px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav a {
        text-decoration: none;
        color: rgb(199, 199, 199);
        font-size: 2vw;
        opacity: .8;
        font-weight: 600;
    }

    .nav h4 {
        position: relative;
        display: inline-block;
    }

    /* Define the transition for the line */
    .nav h4::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background-color: rgb(0, 0, 0);
        bottom: 0;
        left: 0;
        transition: width 0.3s ease;
    }

    /* Add hover effect for the line */
    .nav h4:hover::before {
        width: 100%;
    }

    .bounding {
        /* background-color: aquamarine; */
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    .bounding .boundingelem {
        transform: translateY(137%);
    }
    /* .bounding .boundingelem:nth-child(2) {
        transform: translateY%);
    } */

    .bounding2 {
        /* background-color: aquamarine; */
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    .bounding2 .boundingelem2 {
        transform: translateY(-110%);
    }

    .headings {
        font-family: 'general sans M';
        text-transform: uppercase;
        margin-left: 30px;
        margin-top: 70px;
        font-weight: 100;
        font-size: 5.5vw;
        line-height: .9;

    }

    .bounding {
        display: flex;
    }

    .bound h1 {
        color: rgb(166, 43, 43);
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }



    .headings h1 {
        color:rgb(213, 149, 149);

        opacity: .7;
    }

    .headings .f1 h1:nth-child(1) {
        font-size: 17vw;
    }

    .headings .f1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headings .f1 h1:nth-child(2) {
        font-size: 17vw;
    }

    .headings .f2 h1:nth-child(1) {
        /* margin-left: -2vw; */
        font-size: 7vw;
        border-radius: 4vw;
        padding: 1vw 2vw;
    }


    .headings .f2 h1:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        font-size: 16vw;
    }

    .headings .f3 h1:nth-child(1) {

        font-size: 19vw;
    }

    .headings .f2 {
        display: flex;
        margin-left: 1.4vw;
        align-items: center;
        justify-content: center;
        

        font-size: 12vw;
    }


    .headings .bounding:nth-child(2) .o {
        display: flex;
        opacity: 1;
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 50%;
        border: 2px solid;
        background-color: rgb(223, 223, 223);
    border-radius: 50%;
    border-color: rgb(213, 149, 149);

    }

    .headings h1:nth-child(1) {
        font-size: 21vw;

        opacity: .7;
    }

    .headings h1 {
        font-size: 10vw;
        opacity: .7;
    }

    .bounding {
        display: flex;
    }


    .showcase .name {
        width: fit-content;
        height: fit-content;
        /* background-color: rgb(44, 44, 44); */
        padding: 1vw 2vw;
        padding-left: 3vw;
        margin-top: 16vw;
    }

    .showcase .name h1 {
        transition: all ease-in 3.5s;
        animation-delay: .3s;
        font-size: 12vw;
        font-weight: 100;
        color: rgb(184, 184, 184);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(219, 219, 219);


    }







    .secCase {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5vw;


    }

    .secCase .l {
        border-right: 1px solid gray;
        padding: 3vw 1vw;
        width: 30%;
        height: 70%;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        /* background-color: rgb(168, 221, 203); */

    }

    .secCase .l img {
        opacity: .9;
        width: 100%;
        height: 130%;
        border-radius: 15px;


    }

    .secCase .m {
        padding: 3vw 1vw;
        width: 30%;
        height: 70%;
        display: flex;
        align-items: center;
        /* padding-left: 4vw; */
        /* background-color: rgb(168, 221, 203); */

    }

    .secCase .m img {
        opacity: .9;
        width: 100%;
        height: 130%;
        border-radius: 15px;


    }

    .secCase .r {
        border-left: 1px solid gray;
        padding: 3vw 1vw;
        width: 30%;
        height: 70%;
        display: flex;
        align-items: center;
        /* padding-left: 1vw; */
        /* background-color: rgb(168, 221, 203); */
        padding-right: 2vw;

    }

    .secCase .r img {
        opacity: .9;
        width: 100%;
        height: 130%;
        border-radius: 15px;


    }


    .web {
        padding-top: 11vw;
        width: 97%;
        height: 20vh;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 6vw;
        padding-bottom: 3vw;
    }

    .web h1 {
        font-size: 10vw;
        color: rgb(206, 206, 206);
    }

    .third {
        width: 100%;
        height: 90vh;
        background-color: rgb(17, 17, 17);
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
    }

    .l1 {
        margin-top: 5vw;
        padding: 2vw 2vw;
        display: flex;
        align-items: center;
        width: fit-content;
        background-color: rgb(0, 0, 0);
        border-radius: 10vw;
        margin-bottom: 2vw;

    }

    .l1 h1:nth-child(1) {
        background-color: transparent;
        border-radius: 10vw;
        font-weight: 700;
        color: rgb(177, 177, 177);
        font-size: 6vw;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;

    }

    .l1 h1 {
        border-radius: 10vw;
        font-size: 5vw;
        /* padding-right: 5vw; */
        text-align: center;

    }

    .l2 {
        display: flex;
        width: 100%;
        justify-content: flex-end;


    }

    .l2 h1 {
        background-color: 
        rgb(230, 230, 230);
        padding: 3vw 3vw;
        font-size: 7vw;
        text-align: center;
        border-radius: 10vw;
        margin-right: 12vw;
        color: rgb(3, 3, 3);
        rotate: -20deg;
        margin-top: -6vw;

    }

    .four {
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 100%;
        min-height: 120vh;
        background-color: rgb(17, 17, 17);
        display: flex;
        flex-direction: column;
        gap: 9vw;
        justify-content: space-between;
    }

    .four .img1 {
        opacity: 0.8;
        display: flex;
        /* flex-direction: column; */
        gap: 16vw;

    }

    .four .img1 img {
        width: 55%;
        height: 55%;
        border-radius: 10px;
        rotate: 16deg;
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */

    }

    .four .img1 h4 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 4vw;
        color: white;
    }

    .four .img2 {
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 9vw;

    }

    .four .img2 h4 {
        /* rotate: 16deg; */
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */
        font-size: 5vw;
        color: white;
    }

    .four .img2 img {
        display: flex;
        width: 55%;
        height: 55%;
        border-radius: 10px;
        rotate: -16deg;

    }

    .last {
        background-color: transparent;
        padding-top: 5vw;
        bottom: 0%;
        width: 100%;
        max-height: f;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        text-transform: uppercase;
        color: rgb(231, 231, 231);
    }

    .last .home a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;

    }



    .last .experience a {
        text-decoration: none;
        color: white;
    }

    .home {
        padding-left: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;


    }

    .home h1 {
        font-size: 2vw;
        color: rgb(250, 250, 250);
        opacity: .8;


    }

    .last .home a:hover {
        opacity: .7;
        color: rgb(197, 197, 197);

    }

    .experience {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 11px;
    }

    .last .experience a:hover {
        opacity: .7;
        color: rgb(216, 216, 216);

    }

    .experience h1 {
        font-size: 2vw;
        color: rgb(238, 238, 238);
        opacity: .8;

    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-right: 2vw;

    }

    .contact a {
        text-decoration: none;
    }

    .contact h1 {
        font-size: 2vw;
        color: rgb(230, 230, 230);
        opacity: .8;
    }

    .last .contact a:hover {
        opacity: .7;
        color: rgb(217, 217, 217);

    }

}


/* CSS for MObile phones */

@media only screen and (max-width: 767px) and (min-width: 320px) {
    @font-face {
        font-family: general sans;
        src: url(./GeneralSans-Regular.woff);
    }

    @font-face {
        font-family: general sans M;
        src: url(./GeneralSans-Medium.woff);
    }

    @font-face {
        font-family: comfortaa;
        src: url(Comfortaa-VariableFont_wght.woff);
    }

    * {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        background-color: rgb(17, 17, 17);
        padding-bottom: 0;
        font-family: 'general sans';
        color: black;
    }


    .cursor {
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        box-sizing: border-box;
        transition: 0.1s;
        /* border: 3px solid rgb(255, 255, 255); */
        transform: translate(-50%, -50%);
        z-index: 99999;
        opacity: .7;
        pointer-events: none;
    }

    /* line animation start from here */
    #lineanimationw {
        position: relative;
        overflow: hidden;
    }

    #lineanimationw::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1.7px;
        /* Adjust the height of the line */
        background-color: #b4b4b4;
        /* Adjust the color of the line */
        transition: width 0.2s ease-in-out;
        /* Adjust the duration and timing function */
    }

    #lineanimationw:hover::before {
        width: 100%;
    }


    .main {
        background-color: rgb(17, 17, 17);
        width: 100%;

    }

    .showcase {
        position: relative;
        margin: 0;
        max-width: 100%;
        height: 100vh;
        background-color: rgb(17, 17, 17);
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav {
        padding: 30px 27px;
        font-size: 20px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav a {
        text-decoration: none;
        color: rgb(199, 199, 199);
        font-size: 5vw;
        opacity: .8;
        font-weight: 600;
    }

    .nav h4 {
        position: relative;
        display: inline-block;
    }

    /* Define the transition for the line */
    .nav h4::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background-color: rgb(0, 0, 0);
        bottom: 0;
        left: 0;
        transition: width 0.3s ease;
    }

    /* Add hover effect for the line */
    .nav h4:hover::before {
        width: 100%;
    }

    .bounding {
        /* background-color: aquamarine; */
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    .bounding .boundingelem {
        transform: translateY(110%);
    }

    .bounding2 {
        /* background-color: aquamarine; */
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    .bounding2 .boundingelem2 {
        transform: translateY(-110%);
    }

    .headings {
        margin-top: -9vw;
        font-family: 'general sans M';
        text-transform: uppercase;
        font-weight: 100;
        line-height: .9;
        padding-left: 1vw;
        margin-left: 0vw;

    }

    .headings .f1 h1:nth-child(1) {
        font-size: 23vw;
    }

    .headings .f1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headings .f1 h1:nth-child(2) {
        font-size: 22vw;
    }

    .headings .f2 h1:nth-child(1) {
        /* margin-left: -2vw; */
        font-size: 11vw;
    }

    .headings .f2 h1:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 11vw;
    }

    .headings .f3 h1:nth-child(1) {

        font-size: 19vw;
    }

    .headings .f2 {
        display: flex;
        margin-left: 1.4vw;
        align-items: center;
        justify-content: center;

        font-size: 12vw;
    }


    .headings .bounding:nth-child(2) .o {
        display: flex;
        opacity: 1;
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);

    }

    .headings h1:nth-child(1) {
        font-size: 21vw;

        opacity: .7;
    }

    .headings h1 {
        font-size: 10vw;
        opacity: .7;
    }

    .bounding {
        display: flex;
    }

    .bound h1 {

        background-color: rgb(129, 17, 17);
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }




    .showcase .name {
        width: fit-content;
        height: fit-content;
        /* background-color: rgb(44, 44, 44); */
        padding: 1vw 2vw;
        padding-left: 3vw;
        margin-top: 16vw;
    }

    .showcase .name h1 {
        transition: all ease-in 3.5s;
        animation-delay: .3s;
        font-size: 12vw;
        font-weight: 100;
        color: rgb(184, 184, 184);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(219, 219, 219);


    }







    .secCase {
        width: 100%;
        height: 60vh;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5vw;


    }

    .secCase .l {
        background-color: rgb(44, 44, 44);
        border-right: 1px solid gray;
        padding: 3vw 1vw;
        width: 50%;
        height: 60%;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        /* background-color: rgb(168, 221, 203); */

    }

    .secCase .l img {
        background-color: rgb(44, 44, 44);
        opacity: .9;
        width: 100%;
        height: 100%;
        border-radius: 15px;


    }

    .secCase .m {
        background-color: rgb(44, 44, 44);
        border-radius: 10vw;
        padding: 3vw 1vw;
        width: 50%;
        height: 60%;
        display: flex;
        align-items: center;
        /* padding-left: 4vw; */
        /* background-color: rgb(168, 221, 203); */

    }

    .secCase .m img {
        background-color: rgb(44, 44, 44);
        opacity: .9;
        width: 100%;
        height: 100%;
        border-radius: 15px;


    }

    .secCase .r {
        background-color: rgb(44, 44, 44);
        border-left: 1px solid gray;
        padding: 3vw 1vw;
        width: 50%;
        height: 60%;
        display: flex;
        align-items: center;
        /* padding-left: 1vw; */
        /* background-color: rgb(168, 221, 203); */
        padding-right: 2vw;

    }

    .secCase .r img {
        background-color: rgb(78, 97, 63);
        border-radius: 10vw;
        opacity: .9;
        width: 100%;
        height: 100%;
        border-radius: 15px;


    }


    .web {
        margin-top: -10%;
        width: 97%;
        height: 20vh;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 6vw;
    }

    .web h1 {
        background-color: rgb(44, 44, 44);
        font-size: 15vw;
        color: rgb(206, 206, 206);
    }

    .third {
        display: none;

        width: 100%;
        height: 30vh;
        background-color: rgb(17, 17, 17);
        display: flex;
        flex-direction: column;
        text-transform: uppercase;


    }

    .l1 {
        margin-top: 0vw;

        display: flex;
        align-items: center;
        width: fit-content;
        background-color: rgb(78, 97, 63);
        border-radius: 10vw;
        margin-bottom: 2vw;

    }

    .l1 h1:nth-child(1) {
        border-radius: 10vw;
        color: rgb(0, 0, 0);
        font-size: 8vw;
        padding-left: 9vw;
        padding-right: 5vw;
        text-align: center;

    }

    .l1 h1 {
        padding: 2vw 2vw;
        background-color: rgb(209, 209, 209);
        border-radius: 10vw;
        border-radius: 10vw;
        font-size: 13vw;
        padding-right: 5vw;
        text-align: center;

    }

    .l2 {
        display: flex;
        width: 100%;
        justify-content: flex-end;


    }

    .l2 h1 {
        background-color: rgb(161, 64, 64);
        padding: 3vw 3vw;
        font-size: 9vw;
        text-align: center;
        border-radius: 10vw;
        margin-right: 12vw;
        color: rgb(14, 14, 14);
        rotate: -20deg;
        margin-top: -4vw;

    }

    .four {
        margin-top: 22vw;
        margin-bottom: 35vw;
        width: 100%;
        background-color: rgb(17, 17, 17);
        display: flex;
        flex-direction: column;


    }

    .four .img1 {
        margin-bottom: -9vw;
        height: 50vh;
        display: flex;
        /* flex-direction: column; */
        gap: 0vw;

    }

    .four .img1 img {
        width: 65vw;
        height: 65vw;
        border-radius: 10px;
        rotate: 16deg;
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */

    }

    .four .img1 h4 {
        z-index: 999;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 12vw;
        margin-left: -6vw;
        color: rgb(26, 26, 26);
    }

    .four .img2 {
        background-color: transparent;

        margin-top: -5vw;
        height: 50vh;
        display: flex;
        align-items: center;
        gap: 1vw;

    }

    .four .img2 h4 {

        background-color: transparent;
        z-index: 999;
        /* rotate: 16deg; */
        transform: translateX(20%);
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */
        font-size: 11vw;
        color: rgb(27, 27, 27);
    }

    .four .img2 img {
        display: flex;
        width: 66%;
        height: 65%;
        border-radius: 10px;
        rotate: -16deg;

    }

    .last {
        padding-bottom: 6vw;
        width: 100%;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        text-transform: uppercase;
        color: rgb(231, 231, 231);
    }

    .last .home a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;

    }



    .last .experience a {
        text-decoration: none;
        color: white;
    }

    .home {
        padding-left: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;


    }

    .home h1 {
        font-size: 3vw;
        color: rgb(0, 0, 0);
        opacity: .8;


    }

    .last .home a:hover {
        opacity: .7;
        color: black;

    }

    .experience {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 11px;
    }

    .last .experience a:hover {
        opacity: .7;
        color: black;

    }

    .experience h1 {
        font-size: 3vw;
        color: rgb(0, 0, 0);
        opacity: .8;

    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-right: 2vw;

    }

    .contact a {
        text-decoration: none;
    }

    .contact h1 {
        font-size: 3vw;
        color: rgb(0, 0, 0);
        opacity: .8;
    }

    .last .contact a:hover {
        opacity: .7;
        color: black;

    }



}
