@font-face {
    font-family: general sans;
    src: url(./GeneralSans-Regular.woff);
}
@font-face {
    font-family: general sans M;
    src: url(./GeneralSans-Medium.woff);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'general sans';
}


.cursor{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box ;
    transition: 0.1s;
    /* border: 3px solid rgb(255, 255, 255); */
    transform: translate(-50%, -50%);
    z-index: 99999;
    pointer-events: none;
}


.main {
    background-color: black;
    width: 100%;
}

/* Home start from here */
/* Home start from here */
.home {
    position: relative;
    margin: 0;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.nav {
    padding: 30px 27px;
    font-size: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: .8;
    font-weight: 600;


}

/* Add this CSS to your stylesheet */

#lineanimation {
    position: relative;
    overflow: hidden;
}
#lineanimation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height of the line */
    background-color: #000; /* Adjust the color of the line */
    transition: width 0.2s ease-in-out; /* Adjust the duration and timing function */
}
#lineanimation:hover::before {
    width: 100%;
}
#lineanimationw {
    position: relative;
    overflow: hidden;
}
#lineanimationw::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.7px; /* Adjust the height of the line */
    background-color: #b4b4b4; /* Adjust the color of the line */
    transition: width 0.2s ease-in-out; /* Adjust the duration and timing function */
}
#lineanimationw:hover::before {
    width: 100%;
}
/* Add this to your existing CSS */
.nav h4 {
    position: relative;
    display: inline-block;
}
/* Define the transition for the line */
.nav h4::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(194, 194, 194);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}
/* Add hover effect for the line */
.nav h4:hover::before {
    width: 100%;
}
.headings {
    font-family: 'general sans M';
    margin-left: 30px;
    text-transform: uppercase;
    margin-top: 70px;
    font-weight: 100;
    font-size: 5vw;
    line-height: .9;
    
}
.headings h1{
    
    opacity: .6;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(110%);
}

.secondheadings {
    font-size: 5vw;
    /* font-weight: 200; */
    width: fit-content;
    margin-left: 11vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.secondheadings h5 {
    opacity: .8;
    font-size: 1.2vw;
    right: 0;
    font-weight: 600;
    line-height: 2;
    text-align: right !important;
    
}

.subheadings {
    opacity: .9;
    text-transform: uppercase;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.2vw;
    margin-top: 8vh;
    text-align: right;
    color: rgb(255, 255, 255);
}
.subheadings h4{
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: right;
    color: rgb(255, 255, 255);
}
.subheadings h4:nth-child(2){
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 1.3vw;
    font-weight: 800;
    text-align: right;
    color: rgb(255, 255, 255);
}

.homeFooter {
    padding: 0 2vw;
    width: 95%;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.homeFooter a {
    opacity: .8;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 800;
    text-transform: uppercase;
}


.iconss {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.iconss .circle {
    color: rgb(39, 39, 39);
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 252, 252);
    opacity: .8;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    border-radius: 50%;
    padding-bottom: 1px;
}


/* The second page start from here */

.second {
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    padding-left: 3vw;
    background-color: black;
    max-width: 100%;
    height: 100vh;
}

.elem {
    transition: ease-in 0.9s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}
.second a{
    text-decoration: none;
    color: inherit;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elem h5 {
    text-transform: uppercase;
    font-size: 1.5vw;
    opacity: .7;
}

.elem img{
    position: absolute;
    z-index: 999;
    height: 130%;
    opacity: 0;
    /* transform: translate(-50%, -50%); */
}
.elemlast {
    border-bottom: 1px solid #888;
}
/*  The end page start from here okay so don't be silly... */

.endPage {
    position: relative;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: black;

}
.endPage .about {
    height: 50vh;
    max-width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;    
    padding-left: 25vw;
    padding-top: 10vh;
}
 .about  img {
    /* padding-top: 4vh; */
    width: 19vw;
    height: 25vw;
    border-radius: 10px;
}
.parah h5 {
    text-transform: uppercase;
    opacity: .6;
}
.parah {
    /* padding-top: 4vh; */
    line-height: 1.4;
    font-size: 1.3vw;
}
.parah p{
    width: 75%;
    opacity: 1;
    line-height: 1.5;
    font-size: 1.5vw;
}
.parah button {
    font-size: 1vw;
    margin-top: 10px;
    border-radius: 25px;
    color: white;
    width: 8vw;
    background-color: transparent;
    border: 1px solid gray;
    height: 2.5vw;
    transition: all ease-out .5s;
}

.parah button:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid gray;
    transition: all ease-in .5s;
}
.subhead {
    text-transform: uppercase;
    font-size: 1vw;
    margin-top:  18vh;
    padding-left: 3vw;
    width: fit-content;
}
.subhead h5{
    margin-bottom: 3px;
    opacity: .7;
    font-size: 1vw;
    text-transform: uppercase;
}
.subhead h4{
    opacity: 1;
    font-size: 1.4vw;
    font-weight: 800;
    line-height: 1.2vw;
    text-transform: uppercase;
}



.endfooter {
    padding-left:3vw;
    position: absolute;
    bottom: 1%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.endfooter .leftl {
    font-size: 1.5vw;
    display: flex;
    gap: 19px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    
}
.endfooter .rightl { 
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 1.4vw;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;

}
.endfooter .rightl a{
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 1.1vw;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;

}
.endfooter .rightl a span{
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    
    

}

/* CSS for MObile phones */

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .home {
        position: relative;
        margin: 0;
        max-width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    .nav {
        padding: 30px 27px;
        font-size: 15px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        opacity: .9;
        font-weight: 600;
    
    
    }
    
    /* Add this CSS to your stylesheet */
    
    #lineanimation {
        position: relative;
        overflow: hidden;
    }
    #lineanimation::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px; /* Adjust the height of the line */
        background-color: #000; /* Adjust the color of the line */
        transition: width 0.2s ease-in-out; /* Adjust the duration and timing function */
    }
    #lineanimation:hover::before {
        width: 100%;
    }
    #lineanimationw {
        position: relative;
        overflow: hidden;
    }
    #lineanimationw::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1.7px; /* Adjust the height of the line */
        background-color: #b4b4b4; /* Adjust the color of the line */
        transition: width 0.2s ease-in-out; /* Adjust the duration and timing function */
    }
    #lineanimationw:hover::before {
        width: 100%;
    }
    /* Add this to your existing CSS */
    .nav h4 {
        position: relative;
        display: inline-block;
    }
    /* Define the transition for the line */
    .nav h4::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background-color: rgb(194, 194, 194);
        bottom: 0;
        left: 0;
        transition: width 0.3s ease;
    }
    /* Add hover effect for the line */
    .nav h4:hover::before {
        width: 100%;
    }
    .headings {
        font-family: 'general sans M';
        margin-left: 10px;
        text-transform: uppercase;
        margin-top: 150px;
        font-weight: 100;
        font-size: 8vw;
        line-height: .9;
        
    }
    .headings h1{
        
        opacity: .7;
    }
    
    .secondheadings {
        font-size: 8vw;
        /* font-weight: 200; */
        width: fit-content;
        margin-left: 11vw;
        
    }
    
    .secondheadings h5 {
        opacity: 1;
        font-size: 2vw;
        right: 0;
        font-weight: 600;
        line-height: 2;
        text-align: right !important;
        
    }
    
    .bounding .boundingelem{
        transform: translateY(140%);
    }
    .subheadings {
        opacity: .9;
        text-transform: uppercase;
        font-size: 1.2vw;
        margin-top: 16vh;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    .subheadings h4{
        text-transform: uppercase;
        margin-right: 2px;
        font-size: 2.2vw;
        font-weight: 600;
        margin-bottom: 7px;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    .subheadings h4:nth-child(2){
        text-transform: uppercase;
        margin-right: 2px;
        font-size: 2vw;
        font-weight: 800;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    
    .homeFooter {
        padding: 0 2vw;
        width: 95%;
        position: absolute;
        bottom: 8%;
        display: flex;
        justify-content: space-between;
    }
    
    .homeFooter a {
        opacity: .8=9;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 2.3vw;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    
    .iconss {
        font-size: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
    .iconss .circle {
        color: rgb(2, 2, 2);
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(252, 252, 252);
        opacity: .8;
        width: 4vw;
        height: 3.4vw;
        font-size: 2.9vw;
        border-radius: 50%;
        padding-top: 1px;
    }
    
    
    /* The second page start from here */
    
    .second {
        color: #fff;
        padding-right: 10vw;
        padding-top: 70px;
        padding-left: 3vw;
        background-color: black;
        max-width: 100%;
        height: 50vh;
    }
    
    .elem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 3.5vw 3vw;
        padding-right: 0;
        border-top: 1px solid #888;
    }
    
    .elem h1 {
        text-transform: uppercase;
        font-size: 13vw;
        opacity: .7;
    }
    .elem h5 {
        text-transform: uppercase;
        font-size: 2.5vw;
        opacity: .7;
    }
    
    .elem img{
        position: absolute;
        z-index: 999;
        height: 140%;
        display: none;
    }
    .elemlast {
        border-bottom: 1px solid #888;
    }
    /*  The end page start from here okay so don't be silly... */
    
    .endPage {
        position: relative;
        color: white;
        width: 100%;
        height: 100vh;
        background-color: black;
    
    }
    .endPage .about {
        height: 50vh;
        max-width : 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;    
        padding-left: 11vw;
        align-items: center;
        justify-content: center;
        padding-top: 3vh;
    }
     .about  img {
        /* padding-top: 4vh; */
        width: 42vw;
        height: 52vw;
        border-radius: 10px;
        padding-right: 13vh;
    }
    .parah h5 {
        text-transform: uppercase;
        opacity: .7;
        font-size: 3vw;
    }
    .parah {
        /* padding-top: 4vh; */
        line-height: 1.4;
        font-size: 1.3vw;
    }
    .parah p{
        width: 90%;
        opacity: 1;
        line-height: 1.4;
        font-size: 3.5vw;
    }
    .parah button {
        font-size: 2vw;
        margin-top: 10px;
        border-radius: 25px;
        color: white;
        font-weight: 600;
        width: 15vw;
        background-color: transparent;
        border: 1px solid gray;
        height: 5.5vw;
        transition: all ease-out .5s;
    }
    
    .parah button:hover {
        color: rgb(0, 0, 0);
        background-color: white;
        border: 1px solid gray;
        transition: all ease-in .5s;
    }
    .subhead {
        text-transform: uppercase;
        margin-top:  29vh;
        padding-left: 3vw;
        width: fit-content;
    }
    .subhead h5{
        margin-bottom: 5px;
        opacity: .7;
        font-size: 2vw;
        text-transform: uppercase;
    }
    .subhead h4{
        margin-top: 5px;
        padding-top: 5px;
        opacity: 1;
        font-size: 2.4vw;
        font-weight: 800;
        line-height: 1.2vw;
        text-transform: uppercase;
    }
    
    
    
    .endfooter {
        position: absolute;
        bottom: 1%;
        width: 95%;
        display: flex;
        color: white;
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .endfooter .leftl {
        font-size: 3vw;
        margin-bottom: 4vw;
        display: flex;
        display: none;
        
        
    }
    .endfooter .rightl { 
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 1.4vw;
        gap: 8vw;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    
    }
    .endfooter .rightl a{
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 2vw;
        gap: 1vw;
        font-weight: 600;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    
    }
    .endfooter .rightl a:nth-child(1){
        padding-left: 8vw;
    
    }
    
}


@media only screen and (min-width: 1290px) and (max-width: 1366px) {
   
   
    .headings {
        font-family: 'general sans M';
        margin-left: 30px;
        text-transform: uppercase;
        margin-top: 70px;
        font-weight: 100;
        font-size: 4vw;
        line-height: .9;
        
    }
    .headings h1{
        
        opacity: .6;
    }
   
    
    .secondheadings {
        font-size: 4vw;
        /* font-weight: 200; */
        width: fit-content;
        margin-left: 11vw;
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }
    
    .secondheadings h5 {
        opacity: .8;
        font-size: 1.2vw;
        right: 0;
        font-weight: 600;
        line-height: 2;
        text-align: right !important;
        
    }
    
    .subheadings {
        opacity: .9;
        text-transform: uppercase;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 1.1vw;
        margin-top: 8vh;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    .subheadings h4{
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 1.1vw;
        font-weight: 600;
        margin-bottom: 7px;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    .subheadings h4:nth-child(2){
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 1.3vw;
        font-weight: 800;
        text-align: right;
        color: rgb(255, 255, 255);
    }
    
    
    .second {
        color: #fff;
        padding-right: 10vw;
        padding-top: 200px;
        padding-left: 3vw;
        background-color: black;
        max-width: 100%;
        height: 100vh;
    }
    
    .elem {
        transition: ease-in 0.9s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 3.5vw 3vw;
        padding-right: 0;
        color: #b9b9b9;
        border-top: 1px solid #888;
    }
    .second a{
        text-decoration: none;
        color: inherit;
        /* opacity: .7; */
    }
    
    .elem h1 {
        text-transform: uppercase;
        font-size: 7.2vw;
        opacity: .7;
    }
    
    .elem h5 {
        text-transform: uppercase;
        font-size: 1.5vw;
        color: #f0f0f0;
    }
    
    .elem img{
        opacity: 1;
        position: absolute;
        z-index: 999;
        height: 130%;
        opacity: 0;
        /* transform: translate(-50%, -50%); */
    }
    .elemlast {
        border-bottom: 1px solid #888;
    }
    /*  The end page start from here okay so don't be silly... */
    
    
   
    
    
    .endfooter {
        padding-left:3vw;
        position: absolute;
        bottom: 1%;
        width: 95%;
        display: flex;
        justify-content: space-between;
        color: white;
    }
    
    .endfooter .leftl {
        font-size: 1.5vw;
        display: flex;
        gap: 19px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        
    }
    .endfooter .rightl { 
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 1.4vw;
        gap: 2vw;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    
    }
    .endfooter .rightl a{
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 1.1vw;
        gap: 2vw;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .6px;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    
    }
    .endfooter .rightl a span{
        color: rgb(0, 0, 0);
        background-color: white;
        text-decoration: none;
        
        
    
    }

    .second {
        color: #fff;
        padding-right: 10vw;
        padding-top: 200px;
        padding-left: 3vw;
        background-color: black;
        max-width: 100%;
        /* min-height: 100vh; */
        margin-bottom: 10vw;
    }

    .endfooter {
        margin-top: 15vw;
    }
    
  }